In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/car-price-prediction/CarPrice_Assignment.csv
/kaggle/input/car-price-prediction/Data Dictionary - carprices.xlsx

In [2]:
df = pd.read_csv("/kaggle/input/car-price-prediction/CarPrice_Assignment.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

## Data Cleaning

In [3]:
### Checking for null data 

df.isnull().sum()
#No Null data, so there is no need for value imputation

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [4]:
#to check simple statistic 
print("the length of the data is : ",len(df))


df.describe()

the length of the data is :  205

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [5]:
#Removing Outliers 
numerical_columns = df.select_dtypes(exclude=['object']).columns

def remove_outliers(df, cols):
    Q1 = df[cols].quantile(0.25)
    Q3 = df[cols].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5*IQR
    upper_bound = Q3 + 1.5*IQR
    return df[~((df[cols] < lower_bound) | (df[cols] > upper_bound)).any(axis=1)]

df = remove_outliers(df, numerical_columns)

### Categorical Variable

In [6]:
## Working with categorical columns 


## CarName ##
df.select_dtypes(include=["object"])
print(df["CarName"].value_counts())
print("\n ")
print (" We have 102 variation for 139 dataset. It seems that CarName format is Car_Brand *space* Car_type  We will be using Car Brand instead of car type to gave more generalized view")
df["CarBrand"] = df["CarName"].str.split(" ").str[0]

##droping the CarName Columns
df = df.drop(columns = ["CarName"],axis =1 )

toyota corolla         5
toyota corona          5
mazda 626              3
toyota mark ii         3
mazda glc              2
                      ..
maxda glc deluxe       1
maxda rx3              1
isuzu D-Max V-Cross    1
isuzu MU-X             1
volvo diesel           1
Name: CarName, Length: 102, dtype: int64


 We have 102 variation for 139 dataset. It seems that CarName format is Car_Brand *space* Car_type  We will be using Car Brand instead of car type to gave more generalized view

In [7]:
## fueltype
print (df["fueltype"].value_counts())
print(" \n")
print("It seems that the option always gas, and hence there is no other variation and other distinguishable categories, hence we will drop the columns")

df = df.drop(columns = ["fueltype"],axis = 1 )

gas    139
Name: fueltype, dtype: int64


It seems that the option always gas, and hence there is no other variation and other distinguishable categories, hence we will drop the columns

In [8]:
##aspiration
print (df["aspiration"].value_counts())

## we will use get_dummies for this

std      126
turbo     13
Name: aspiration, dtype: int64

In [9]:
## door_number

door_number_replacement = {"two" : 2 ,
                           "four" : 4}

df = df.replace({"door_number":door_number_replacement})

print("we are replacing door because it can be represented as number /")

we are replacing door because it can be represented as number /

In [10]:
##carbody

df["carbody"].unique()
## we will use dummies for this

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [11]:
df["drivewheel"].unique()
## we will use dummies for this

array(['rwd', 'fwd', '4wd'], dtype=object)

In [12]:
print(df["enginelocation"].unique())

df = df.drop(columns = ["enginelocation"], axis = 1 )


print(" \n")
print("We will drop this because no other variation and other distinguishable categories, hence we will drop the columns")

['front']


We will drop this because no other variation and other distinguishable categories, hence we will drop the columns

In [13]:
print(df["enginetype"].unique())
#we will use one_hot_encoding for this

['dohc' 'ohcv' 'ohc' 'rotor' 'l']

In [14]:
print(df["cylindernumber"].unique())

cylindernumber_replacement = {"four" : 4,
                            "six" : 6,
                            "five": 5,
                            "two" : 2 }

df = df.replace({"cylindernumber" : cylindernumber_replacement})

print("\n")
print("We replace cylindernumber from string to integer")

['four' 'six' 'five' 'two']


We replace cylindernumber from string to integer

In [15]:
print(df["fuelsystem"].unique())

#we willuse dummies for this

['mpfi' '2bbl' '1bbl' 'spfi' '4bbl' 'spdi']

In [16]:
#Final dataset 
df.head()

,car_ID,symboling,aspiration,doornumber,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarBrand
0,1,3,std,two,convertible,rwd,88.6,168.8,64.1,48.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,2,3,std,two,convertible,rwd,88.6,168.8,64.1,48.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,3,1,std,two,hatchback,rwd,94.5,171.2,65.5,52.4,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,4,2,std,four,sedan,fwd,99.8,176.6,66.2,54.3,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,5,2,std,four,sedan,4wd,99.4,176.6,66.4,54.3,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

In [17]:
##get_dummies for categorical variabel

#pd.get_dummies(df["aspiration"], drop_first = True, prefix = "aspiration")

categorical_columns = df.select_dtypes(include=["object"]).columns

for i in categorical_columns : 
    dummies_creator = pd.get_dummies(df[i],drop_first= True, prefix = i )
    df = df.join(dummies_creator)
    df=df.drop(columns=[i])

### Min_Max_Scaling

In [18]:

def build_min_max_scaler(df) :
  scaled_columns = pd.DataFrame()
  for i in df.columns:
      min = df[i].min()
      df[i] = df[i]-min
      max = df[i].max()
      scaled_columns[i] = pd.DataFrame( round(df[i]/max ,5) )
  return scaled_columns


df_new = build_min_max_scaler(df.drop("price",axis = 1 ))
df = df_new.join(df["price"])

# Building Model

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error
import statsmodels.api as sm

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [20]:
X = df.drop("price",axis = 1 )
y = df["price"]

In [21]:
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.25)

In [22]:
X = sm.add_constant(X_train)
model = sm.OLS(y_train,X_train)
results = model.fit()
# Print the summary of the regression results
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.994
Model:                            OLS   Adj. R-squared (uncentered):              0.989
Method:                 Least Squares   F-statistic:                              178.8
Date:                Mon, 15 May 2023   Prob (F-statistic):                    1.03e-45
Time:                        15:41:15   Log-Likelihood:                         -856.88
No. Observations:                 104   AIC:                                      1816.
Df Residuals:                      53   BIC:                                      1951.
Df Model:                          51
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
car_ID                3.084e+04   1.35e+04      2.280      0.027    3709.058     5.8e+04
symboling             -636.1938   1510.912     -0.421      0.675   -3666.699    2394.311
wheelbase             3977.7173   3252.664      1.223      0.227   -2546.301    1.05e+04
carlength            -3214.9820   3260.689     -0.986      0.329   -9755.095    3325.131
carwidth              6662.6188   3272.286      2.036      0.047      99.245    1.32e+04
carheight              230.0939   1779.172      0.129      0.898   -3338.473    3798.661
curbweight            2636.2102   2761.748      0.955      0.344   -2903.156    8175.576
cylindernumber       -6254.2437   9810.311     -0.638      0.527   -2.59e+04    1.34e+04
enginesize            1.291e+04   1.08e+04      1.200      0.236   -8678.696    3.45e+04
boreratio            -1.103e+04   7825.738     -1.409      0.165   -2.67e+04    4667.631
stroke               -7009.3574   3320.098     -2.111      0.039   -1.37e+04    -350.084
compressionratio      -878.7468   1690.559     -0.520      0.605   -4269.579    2512.086
horsepower           -2432.6877   2710.942     -0.897      0.374   -7870.149    3004.774
peakrpm               -685.2592   1566.189     -0.438      0.664   -3826.637    2456.119
citympg              -6010.1973   4179.504     -1.438      0.156   -1.44e+04    2372.827
highwaympg            5534.5499   4250.865      1.302      0.199   -2991.606    1.41e+04
aspiration_turbo      2669.6945   1007.536      2.650      0.011     648.833    4690.556
doornumber_two        -230.6299    539.282     -0.428      0.671   -1312.293     851.033
carbody_hardtop       -457.7851   2272.032     -0.201      0.841   -5014.903    4099.333
carbody_hatchback     -392.7362   1834.990     -0.214      0.831   -4073.259    3287.787
carbody_sedan         -474.2610   1910.442     -0.248      0.805   -4306.122    3357.600
carbody_wagon         -473.5610   1971.810     -0.240      0.811   -4428.510    3481.388
drivewheel_fwd       -1111.5468   1437.169     -0.773      0.443   -3994.142    1771.048
drivewheel_rwd         798.2575   1808.182      0.441      0.661   -2828.497    4425.012
enginetype_l         -3000.4713   1435.192     -2.091      0.041   -5879.103    -121.840
enginetype_ohc         131.8972   1609.238      0.082      0.935   -3095.826    3359.621
enginetype_ohcv      -1727.6829   1580.681     -1.093      0.279   -4898.127    1442.761
enginetype_rotor      5969.9259   2958.202      2.018      0.049      36.523    1.19e+04
fuelsystem_2bbl       3215.3995   1292.744      2.487      0.016     622.483    5808.316
fuelsystem_4bbl       1724.7061   2329.707      0.740      0.462   -2948.093    6397.506
fuelsystem_mpfi       3470.8755   1418.425      2.447      0.018     625.875    6315.875
fuelsystem_spdi       3335.2463   1790.409      1.863      0.068    -255.859    6926.351
fuelsystem_spfi       2500.2882   2435.110      1.027      0.309   -2383.924    7384.500
CarBrand_alfa-romero  1.473e+04   4691.914      3.139      0.003    5319.023    2.41e+04
CarBrand_audi         1.684e+04   6447.023      2.612      0.012    3907.904    2.98e+04
CarBrand_bmw          1.743e+04   5875.712      2.967      0.005    5649.400    2.92e+04
CarBrand_chevrolet    1.993e-12   3.67e-12      0.543      0.589   -5.36e-12    9.35e-12
CarBrand_dodge        8678.7228   4266.347      2.034      0.047     121.515    1.72e+04
CarBrand_honda        1.152e+04   3980.152      2.895      0.005    3539.501    1.95e+04
CarBrand_isuzu        7644.1247   2960.477      2.582      0.013    1706.160    1.36e+04
CarBrand_maxda        3784.7426   2634.005      1.437      0.157   -1498.402    9067.887
CarBrand_mazda        4892.0849   2523.791      1.938      0.058    -169.999    9954.169
CarBrand_mercury      2209.0059   3234.423      0.683      0.498   -4278.424    8696.436
CarBrand_mitsubishi    220.0141   1652.071      0.133      0.895   -3093.620    3533.648
CarBrand_nissan        349.4051   1460.839      0.239      0.812   -2580.668    3279.478
CarBrand_peugeot     -3000.4713   1435.192     -2.091      0.041   -5879.103    -121.840
CarBrand_plymouth    -5696.5140   3017.634     -1.888      0.065   -1.17e+04     356.092
CarBrand_porsche      3157.1384   2968.476      1.064      0.292   -2796.871    9111.148
CarBrand_saab        -2714.0008   3318.540     -0.818      0.417   -9370.149    3942.147
CarBrand_toyota      -1.269e+04   5274.625     -2.406      0.020   -2.33e+04   -2112.671
CarBrand_toyouta      6.746e-13   3.74e-13      1.803      0.077   -7.57e-14    1.42e-12
CarBrand_volkswagen  -1.418e+04   6451.984     -2.199      0.032   -2.71e+04   -1243.902
CarBrand_volvo        -1.46e+04   6675.185     -2.187      0.033    -2.8e+04   -1209.001
CarBrand_vw          -1.161e+04   7158.547     -1.622      0.111    -2.6e+04    2749.126
==============================================================================
Omnibus:                        3.018   Durbin-Watson:                   2.012
Prob(Omnibus):                  0.221   Jarque-Bera (JB):                2.645
Skew:                           0.193   Prob(JB):                        0.266
Kurtosis:                       3.679   Cond. No.                     1.17e+16
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is 4.57e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [23]:
y_pred = results.predict(X_test)
mse = mean_absolute_error(y_test, y_pred)
mpe = abs (np.mean((y_test - y_pred) / y_test)) * 100
print("Mean Squarred Error :" , mse)
print("Mean Percentage Error : ",mpe)

Mean Squarred Error : 1984.5374161328018
Mean Percentage Error :  7.260021315976027