In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/car-price-prediction/CarPrice_Assignment.csv
/kaggle/input/car-price-prediction/Data Dictionary - carprices.xlsx

In [2]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
df = pd.read_csv("/kaggle/input/car-price-prediction/CarPrice_Assignment.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

## Data Cleaning

In [4]:
### Checking for null data 

df.isnull().sum()
#No Null data, so there is no need for value imputation

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [5]:
#checking list of columns
df.columns.to_list()

['car_ID',
 'symboling',
 'CarName',
 'fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'wheelbase',
 'carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginetype',
 'cylindernumber',
 'enginesize',
 'fuelsystem',
 'boreratio',
 'stroke',
 'compressionratio',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg',
 'price']

In [6]:
#Dropping car_id since its unnecessary

df=df.drop("car_ID",axis= 1 )

In [7]:
#to check simple statistic 
print("the length of the data is : ",len(df))
df.describe()

the length of the data is :  205

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [8]:
#combining carlength + carwidth + carheight as car_volume
df["car_volume"] = df["carlength"] * df["carwidth"] * df["carheight"]

df = df.drop(columns=["carlength","carwidth","carheight"])

In [9]:
#Removing Outliers 
numerical_columns = df.select_dtypes(exclude=['object']).columns

def remove_outliers(df, cols):
    Q1 = df[cols].quantile(0.25)
    Q3 = df[cols].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5*IQR
    upper_bound = Q3 + 1.5*IQR
    return df[~((df[cols] < lower_bound) | (df[cols] > upper_bound)).any(axis=1)]

df = remove_outliers(df, numerical_columns)
df_copy = df

### Categorical Variable

In [10]:
## Working with categorical columns 


## CarName ##
df.select_dtypes(include=["object"])
print(df["CarName"].value_counts())
print("\n ")
print (" We have 102 variation for 139 dataset. It seems that CarName format is Car_Brand *space* Car_type  We will be using Car Brand instead of car type to gave more generalized view")
df["CarBrand"] = df["CarName"].str.split(" ").str[0]

##droping the CarName Columns
df = df.drop(columns = ["CarName"],axis =1 )

toyota corona          5
toyota corolla         5
mazda 626              3
toyota mark ii         3
honda accord           2
                      ..
maxda rx3              1
isuzu D-Max V-Cross    1
isuzu MU-X             1
honda civic (auto)     1
volvo diesel           1
Name: CarName, Length: 104, dtype: int64


 We have 102 variation for 139 dataset. It seems that CarName format is Car_Brand *space* Car_type  We will be using Car Brand instead of car type to gave more generalized view

In [11]:
## fueltype
print (df["fueltype"].value_counts())
print(" \n")
print("It seems that the option always gas, and hence there is no other variation and other distinguishable categories, hence we will drop the columns")

df = df.drop(columns = ["fueltype"],axis = 1 )

gas    142
Name: fueltype, dtype: int64


It seems that the option always gas, and hence there is no other variation and other distinguishable categories, hence we will drop the columns

In [12]:
##aspiration
print (df["aspiration"].value_counts())

## we will use get_dummies for this

std      128
turbo     14
Name: aspiration, dtype: int64

In [13]:
## door_number

door_number_replacement = {"two" : 2 ,
                           "four" : 4}

df = df.replace({"door_number":door_number_replacement})

print("we are replacing door because it can be represented as number /")

we are replacing door because it can be represented as number /

In [14]:
##carbody

df["carbody"].unique()
## we will use dummies for this

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [15]:
df["drivewheel"].unique()
## we will use dummies for this

array(['rwd', 'fwd', '4wd'], dtype=object)

In [16]:
print(df["enginelocation"].unique())

df = df.drop(columns = ["enginelocation"], axis = 1 )


print(" \n")
print("We will drop this because no other variation and other distinguishable categories, hence we will drop the columns")

['front']


We will drop this because no other variation and other distinguishable categories, hence we will drop the columns

In [17]:
print(df["enginetype"].unique())
#we will use one_hot_encoding for this

['dohc' 'ohcv' 'ohc' 'rotor' 'l']

In [18]:
print(df["cylindernumber"].unique())

cylindernumber_replacement = {"four" : 4,
                            "six" : 6,
                            "five": 5,
                            "two" : 2 }

df = df.replace({"cylindernumber" : cylindernumber_replacement})

print("\n")
print("We replace cylindernumber from string to integer")

['four' 'six' 'five' 'two']


We replace cylindernumber from string to integer

In [19]:
print(df["fuelsystem"].unique())

#we willuse dummies for this

['mpfi' '2bbl' '1bbl' 'spfi' '4bbl' 'spdi']

In [20]:
#Final dataset 
df.head()

,symboling,aspiration,doornumber,carbody,drivewheel,wheelbase,curbweight,enginetype,cylindernumber,enginesize,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,car_volume,CarBrand
0,3,std,two,convertible,rwd,88.6,2548,dohc,4,130,...,3.47,2.68,9.0,111,5000,21,27,13495.0,528019.904,alfa-romero
1,3,std,two,convertible,rwd,88.6,2548,dohc,4,130,...,3.47,2.68,9.0,111,5000,21,27,16500.0,528019.904,alfa-romero
2,1,std,two,hatchback,rwd,94.5,2823,ohcv,6,152,...,2.68,3.47,9.0,154,5000,19,26,16500.0,587592.640,alfa-romero
3,2,std,four,sedan,fwd,99.8,2337,ohc,4,109,...,3.19,3.40,10.0,102,5500,24,30,13950.0,634816.956,audi
4,2,std,four,sedan,4wd,99.4,2824,ohc,5,136,...,3.19,3.40,8.0,115,5500,18,22,17450.0,636734.832,audi

## VIF Checking

In [21]:
numeric = df.select_dtypes(exclude=["object"])
numeric = numeric.drop("price",axis =1 )
dropped_vars = []

for i in range (14):
    vif = pd.DataFrame()
    vif["Variable"] = numeric.columns
    vif["VIF"] = [variance_inflation_factor(numeric.values, i) for i in range(numeric.shape[1])]
    if (vif["VIF"].max()) >=10 :
        new_columns = vif.sort_values(by = "VIF",ascending = False)[1:]['Variable'].unique().tolist()
        print(vif.sort_values(by = "VIF",ascending = False))
        print("\n \n \n \n \n ")
        dropped_vars.append(vif.sort_values(by = "VIF",ascending = False).iloc[0,0])
        numeric = numeric[new_columns]
        

final_columns = vif["Variable"].unique().tolist()
print(vif)

            Variable          VIF
1          wheelbase  2538.552755
5          boreratio  1451.428865
11        highwaympg   975.885042
10           citympg   716.015608
4         enginesize   540.197824
7   compressionratio   469.835539
12        car_volume   453.892316
2         curbweight   425.036125
6             stroke   415.502016
3     cylindernumber   393.146819
9            peakrpm   302.362244
8         horsepower    76.135014
0          symboling     2.781941






            Variable         VIF
1         highwaympg  965.142750
0          boreratio  870.130342
2            citympg  710.406742
4   compressionratio  466.192887
6         curbweight  409.555126
3         enginesize  392.833195
5         car_volume  341.765923
9            peakrpm  302.341806
8     cylindernumber  274.643939
7             stroke  269.995388
10        horsepower   75.976001
11         symboling    2.550245






            Variable         VIF
0          boreratio  743.966750
2   compressionratio  466.192186
3         curbweight  398.732579
4         enginesize  376.923538
5         car_volume  339.750129
6            peakrpm  297.673271
8             stroke  260.034043
7     cylindernumber  258.932167
1            citympg  158.817675
9         horsepower   75.973500
10         symboling    2.492105






           Variable         VIF
0  compressionratio  453.536349
1        curbweight  381.798290
3        car_volume  278.612093
4           peakrpm  269.712611
5            stroke  259.706270
2        enginesize  231.985701
7           citympg  119.583393
6    cylindernumber  114.765086
8        horsepower   75.105492
9         symboling    2.401673






         Variable         VIF
0      curbweight  358.242617
1      car_volume  273.093319
3          stroke  255.838139
4      enginesize  213.348804
2         peakrpm  210.642951
6  cylindernumber  110.165438
7      horsepower   73.099833
5         citympg   63.555711
8       symboling    1.972206






         Variable         VIF
1          stroke  254.575581
3         peakrpm  200.573341
2      enginesize  179.385875
0      car_volume  127.688520
4  cylindernumber  108.498410
5      horsepower   68.407194
6         citympg   59.886622
7       symboling    1.971320






         Variable         VIF
1      enginesize  162.715972
0         peakrpm  145.147733
2      car_volume  117.505866
3  cylindernumber  106.495732
4      horsepower   68.167346
5         citympg   49.814737
6       symboling    1.941393






         Variable         VIF
0         peakrpm  121.681016
1      car_volume   90.500944
2  cylindernumber   52.467468
4         citympg   49.751633
3      horsepower   45.537303
5       symboling    1.929791






         Variable        VIF
0      car_volume  68.514709
1  cylindernumber  50.258861
3      horsepower  37.988392
2         citympg  25.274077
4       symboling   1.636255






         Variable        VIF
0  cylindernumber  48.592793
1      horsepower  20.998766
2         citympg  14.957400
3       symboling   1.521464






     Variable       VIF
0  horsepower  4.774774
1     citympg  4.752377
2   symboling  1.477559

In [22]:
df = df.select_dtypes(include=["object"]).join(df[final_columns])
df = df.join(df_copy["price"])

In [23]:
##get_dummies for categorical variabel
categorical_columns = df.select_dtypes(include=["object"]).columns

for i in categorical_columns : 
    dummies_creator = pd.get_dummies(df[i],drop_first= True, prefix = i )
    df = df.join(dummies_creator)
    df=df.drop(columns=[i])

### Min_Max_Scaling

In [24]:

def build_min_max_scaler(df) :
  scaled_columns = pd.DataFrame()
  for i in df.columns:
      min = df[i].min()
      df[i] = df[i]-min
      max = df[i].max()
      scaled_columns[i] = pd.DataFrame( round(df[i]/max ,5) )
  return scaled_columns


df_new = build_min_max_scaler(df.drop("price",axis = 1 ))
df = df_new.join(df["price"])

# Building Model

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error
import statsmodels.api as sm

In [26]:
X = df.drop("price",axis = 1 )
y = df["price"]

In [27]:
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.25,random_state = 15062001 )

In [28]:
X = sm.add_constant(X_train)
model = sm.OLS(y_train,X_train)
results = model.fit()
# Print the summary of the regression results
summary = results.summary()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.987
Model:                            OLS   Adj. R-squared (uncentered):              0.979
Method:                 Least Squares   F-statistic:                              131.7
Date:                Mon, 15 May 2023   Prob (F-statistic):                    7.09e-51
Time:                        18:15:39   Log-Likelihood:                         -918.96
No. Observations:                 106   AIC:                                      1914.
Df Residuals:                      68   BIC:                                      2015.
Df Model:                          38
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
horsepower            8103.6131   2913.707      2.781      0.007    2289.401    1.39e+04
citympg               -848.6254   2638.864     -0.322      0.749   -6114.396    4417.145
symboling              213.5529   1612.877      0.132      0.895   -3004.892    3431.998
aspiration_turbo      1770.1683   1122.367      1.577      0.119    -469.481    4009.818
doornumber_two        -556.4162    648.568     -0.858      0.394   -1850.613     737.781
carbody_hardtop      -4625.1640   1738.684     -2.660      0.010   -8094.653   -1155.675
carbody_hatchback    -3306.4419   1586.563     -2.084      0.041   -6472.379    -140.505
carbody_sedan        -3370.9000   1623.789     -2.076      0.042   -6611.120    -130.680
carbody_wagon        -2860.8121   1702.341     -1.681      0.097   -6257.781     536.157
drivewheel_fwd        1236.4498   1251.586      0.988      0.327   -1261.052    3733.951
drivewheel_rwd        2832.7344   1568.594      1.806      0.075    -297.346    5962.815
enginetype_l          4275.6577   1402.822      3.048      0.003    1476.369    7074.946
enginetype_ohc         358.6556   1423.000      0.252      0.802   -2480.897    3198.208
enginetype_ohcv       2438.3952   1405.220      1.735      0.087    -365.678    5242.469
enginetype_rotor      2091.3589   1359.011      1.539      0.128    -620.506    4803.224
fuelsystem_2bbl       4748.8863   1930.828      2.460      0.016     895.979    8601.794
fuelsystem_4bbl       2091.3589   1359.011      1.539      0.128    -620.506    4803.224
fuelsystem_mpfi       3689.8471   2348.607      1.571      0.121    -996.725    8376.419
fuelsystem_spdi       2325.3825   2425.430      0.959      0.341   -2514.488    7165.253
fuelsystem_spfi      -2.618e-12   2.32e-12     -1.128      0.263   -7.25e-12    2.01e-12
CarBrand_alfa-romero  5199.7910   2044.237      2.544      0.013    1120.579    9279.003
CarBrand_audi         1.234e+04   2182.949      5.653      0.000    7984.295    1.67e+04
CarBrand_bmw            1.3e+04   2237.664      5.810      0.000    8535.777    1.75e+04
CarBrand_chevrolet    3660.4223   2707.455      1.352      0.181   -1742.219    9063.064
CarBrand_dodge        3336.6088   1817.769      1.836      0.071    -290.692    6963.910
CarBrand_honda        8227.2908   2074.289      3.966      0.000    4088.112    1.24e+04
CarBrand_isuzu        6258.7751   2334.967      2.680      0.009    1599.421    1.09e+04
CarBrand_maxda        3500.5760   2399.687      1.459      0.149   -1287.924    8289.076
CarBrand_mazda        5178.3227   1747.817      2.963      0.004    1690.609    8666.037
CarBrand_mercury      3598.4264   2921.939      1.232      0.222   -2232.212    9429.065
CarBrand_mitsubishi   3495.5588   1863.897      1.875      0.065    -223.790    7214.907
CarBrand_nissan       4409.0946   1718.137      2.566      0.012     980.605    7837.584
CarBrand_peugeot      4275.6577   1402.822      3.048      0.003    1476.369    7074.946
CarBrand_plymouth     3341.9700   1934.345      1.728      0.089    -517.956    7201.896
CarBrand_porsche      1.305e+04   2817.048      4.634      0.000    7431.753    1.87e+04
CarBrand_saab         8489.3071   2473.408      3.432      0.001    3553.699    1.34e+04
CarBrand_toyota       5071.3169   1791.873      2.830      0.006    1495.690    8646.943
CarBrand_toyouta      5396.5045   2895.691      1.864      0.067    -381.757    1.12e+04
CarBrand_volkswagen   5717.2879   2158.785      2.648      0.010    1409.499       1e+04
CarBrand_volvo        8826.8968   2266.122      3.895      0.000    4304.922    1.33e+04
CarBrand_vw           4847.5153   2755.899      1.759      0.083    -651.796    1.03e+04
==============================================================================
Omnibus:                        4.282   Durbin-Watson:                   1.767
Prob(Omnibus):                  0.118   Jarque-Bera (JB):                3.935
Skew:                           0.305   Prob(JB):                        0.140
Kurtosis:                       3.720   Cond. No.                     1.34e+16
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is 1.81e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [29]:
y_pred = results.predict(X_test)
mse = mean_absolute_error(y_test, y_pred)
mpe = abs (np.mean((y_test - y_pred) / y_test)) * 100
print("Mean Squarred Error :" , mse)
print("Mean Percentage Error : ",mpe)

Mean Squarred Error : 1405.608129168285
Mean Percentage Error :  1.7609218975077914

In [30]:
tables = pd.read_html(summary.tables[1].as_html(), header=0, index_col=0)
coefficients_table = tables[0]
sorted_table = coefficients_table.sort_values(by='P>|t|', ascending=False)
pd.DataFrame(sorted_table)

,coef,std err,t,P>|t|,[0.025,0.975]
symboling,2.135529e+02,1.612877e+03,0.132,0.895,-3.004892e+03,3.431998e+03
enginetype_ohc,3.586556e+02,1.423000e+03,0.252,0.802,-2.480897e+03,3.198208e+03
citympg,-8.486254e+02,2.638864e+03,-0.322,0.749,-6.114396e+03,4.417145e+03
doornumber_two,-5.564162e+02,6.485680e+02,-0.858,0.394,-1.850613e+03,7.377810e+02
fuelsystem_spdi,2.325383e+03,2.425430e+03,0.959,0.341,-2.514488e+03,7.165253e+03
drivewheel_fwd,1.236450e+03,1.251586e+03,0.988,0.327,-1.261052e+03,3.733951e+03
fuelsystem_spfi,-2.618000e-12,2.320000e-12,-1.128,0.263,-7.250000e-12,2.010000e-12
CarBrand_mercury,3.598426e+03,2.921939e+03,1.232,0.222,-2.232212e+03,9.429065e+03
CarBrand_chevrolet,3.660422e+03,2.707455e+03,1.352,0.181,-1.742219e+03,9.063064e+03
CarBrand_maxda,3.500576e+03,2.399687e+03,1.459,0.149,-1.287924e+03,8.289076e+03
enginetype_rotor,2.091359e+03,1.359011e+03,1.539,0.128,-6.205060e+02,4.803224e+03
fuelsystem_4bbl,2.091359e+03,1.359011e+03,1.539,0.128,-6.205060e+02,4.803224e+03
fuelsystem_mpfi,3.689847e+03,2.348607e+03,1.571,0.121,-9.967250e+02,8.376419e+03
aspiration_turbo,1.770168e+03,1.122367e+03,1.577,0.119,-4.694810e+02,4.009818e+03
carbody_wagon,-2.860812e+03,1.702341e+03,-1.681,0.097,-6.257781e+03,5.361570e+02
CarBrand_plymouth,3.341970e+03,1.934345e+03,1.728,0.089,-5.179560e+02,7.201896e+03
enginetype_ohcv,2.438395e+03,1.405220e+03,1.735,0.087,-3.656780e+02,5.242469e+03
CarBrand_vw,4.847515e+03,2.755899e+03,1.759,0.083,-6.517960e+02,1.030000e+04
drivewheel_rwd,2.832734e+03,1.568594e+03,1.806,0.075,-2.973460e+02,5.962815e+03
CarBrand_dodge,3.336609e+03,1.817769e+03,1.836,0.071,-2.906920e+02,6.963910e+03
CarBrand_toyouta,5.396505e+03,2.895691e+03,1.864,0.067,-3.817570e+02,1.120000e+04
CarBrand_mitsubishi,3.495559e+03,1.863897e+03,1.875,0.065,-2.237900e+02,7.214907e+03
carbody_sedan,-3.370900e+03,1.623789e+03,-2.076,0.042,-6.611120e+03,-1.306800e+02
carbody_hatchback,-3.306442e+03,1.586563e+03,-2.084,0.041,-6.472379e+03,-1.405050e+02
fuelsystem_2bbl,4.748886e+03,1.930828e+03,2.460,0.016,8.959790e+02,8.601794e+03
CarBrand_alfa-romero,5.199791e+03,2.044237e+03,2.544,0.013,1.120579e+03,9.279003e+03
CarBrand_nissan,4.409095e+03,1.718137e+03,2.566,0.012,9.806050e+02,7.837584e+03
carbody_hardtop,-4.625164e+03,1.738684e+03,-2.660,0.010,-8.094653e+03,-1.155675e+03
CarBrand_volkswagen,5.717288e+03,2.158785e+03,2.648,0.010,1.409499e+03,1.000000e+04
CarBrand_isuzu,6.258775e+03,2.334967e+03,2.680,0.009,1.599421e+03,1.090000e+04
horsepower,8.103613e+03,2.913707e+03,2.781,0.007,2.289401e+03,1.390000e+04
CarBrand_toyota,5.071317e+03,1.791873e+03,2.830,0.006,1.495690e+03,8.646943e+03
CarBrand_mazda,5.178323e+03,1.747817e+03,2.963,0.004,1.690609e+03,8.666037e+03
CarBrand_peugeot,4.275658e+03,1.402822e+03,3.048,0.003,1.476369e+03,7.074946e+03
enginetype_l,4.275658e+03,1.402822e+03,3.048,0.003,1.476369e+03,7.074946e+03
CarBrand_saab,8.489307e+03,2.473408e+03,3.432,0.001,3.553699e+03,1.340000e+04
CarBrand_honda,8.227291e+03,2.074289e+03,3.966,0.000,4.088112e+03,1.240000e+04
CarBrand_bmw,1.300000e+04,2.237664e+03,5.810,0.000,8.535777e+03,1.750000e+04
CarBrand_audi,1.234000e+04,2.182949e+03,5.653,0.000,7.984295e+03,1.670000e+04
CarBrand_porsche,1.305000e+04,2.817048e+03,4.634,0.000,7.431753e+03,1.870000e+04
CarBrand_volvo,8.826897e+03,2.266122e+03,3.895,0.000,4.304922e+03,1.330000e+04