<a href="https://colab.research.google.com/github/Modequick/Machine-Learning-Project/blob/main/Skripsi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Skripsi/Change_Accom_Behavior_Hashed 2.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Data Checking

In [ ]:
#missing_value
missing_value = df.isnull().sum() *100 / len(df) 

df_missing_value = pd.DataFrame( {"missing_count" : df.isnull().sum(),
             "percent_missing" : missing_value} )
print(df_missing_value.sort_values(by = "missing_count",ascending=False).head(20))

print("length of columns are : ", len(df.columns))

                                missing_count  percent_missing
next_latest_sentiment_analysis          18970       100.000000
customer_type                           18970       100.000000
latest_sentiment_analysis               18969        99.994729
next_category_3                         18946        99.873484
next_category_0                         18899        99.625725
next_category_1                         18899        99.625725
next_category_2                         18899        99.625725
category_3                              18854        99.388508
category_1                              18712        98.639958
category_2                              18712        98.639958
category_0                              18711        98.634686
pid_score                               14678        77.374802
next_pid_score                          14467        76.262520
room_type                               13324        70.237217
next_room_type                          12949        68.260411
accom_chain_name                         6849        36.104375
next_accom_chain_name                    6537        34.459673
room_size_inmeter                        2887        15.218766
next_room_size_inmeter                   2472        13.031102
bed_type                                 1013         5.340011
length of columns are :  58

In [ ]:
# not_selected_columns = ["next_latest_sentiment_analysis",
#                         "customer_type",
#                         "latest_sentiment_analysis",
#                         "next_category_3",
#                         "next_category_1",
#                         "next_category_2",
#                         "next_category_0",
#                         "category_0",
#                         "category_1"
#                         "category_2",
#                         "category_3"
#                         "pid_score",
#                         "next_pid_score",
#                         "room_type",
#                         "next_room_type",
#                         "accom_chain_name",
#                         "next_accom_chain_name"]
                        
#selecing columns that are not in the list 
df_clean = df.loc[:, ~df.columns.isin(df_missing_value.sort_values(by = "missing_count",ascending=False).head(20).index)]


# droping non intuitive columns 
df_clean = df_clean.loc[:, ~df_clean.columns.isin(["count_buy_that_day",
                                                   "count_buy_that_month",
                                                   "count_buy_that_next_day",
                                                   "room_id","next_bed_type,",
                                                   "order_id","profile_id",
                                                   "interface",
                                                   "last_issued_date",
                                                   "next_bed_type",
                                                   "month",
                                                   "next_time_stamp",
                                                   "sales_timestamp",
                                                   "next_accom_id"

                                                   
                                                   ])]
#next_check_in_date,next_check_out_date,"next_check_in_date"

In [ ]:
missing_value = df_clean.isnull().sum() *100 / len(df) 
df_missing_value = pd.DataFrame( {"missing_count" : df_clean.isnull().sum(),
             "percent_missing" : missing_value} )
print("length columns : ",len(df_clean.columns)  )
print(df_missing_value.sort_values(by = "missing_count",ascending=False))

length columns :  26
                        missing_count  percent_missing
hotel_score                       107         0.564048
next_hotel_score                   69         0.363732
accom_type                          2         0.010543
next_check_in_date                  0         0.000000
next_num_rooms                      0         0.000000
next_gbv_idr                        0         0.000000
next_is_use_coupon                  0         0.000000
next_coupon_idr                     0         0.000000
next_selling_price                  0         0.000000
next_accom_type                     0         0.000000
next_accom_star_rating              0         0.000000
next_accom_region                   0         0.000000
next_accom_id                       0         0.000000
next_check_out_date                 0         0.000000
accom_id                            0         0.000000
selling_price_idr                   0         0.000000
is_use_coupon                       0         0.000000
num_rooms                           0         0.000000
accom_star_rating                   0         0.000000
accom_region                        0         0.000000
check_out_date                      0         0.000000
check_in_date                       0         0.000000
sales_date_utc7                     0         0.000000
coupon_idr                          0         0.000000
gbv_idr                             0         0.000000
next_sales_date                     0         0.000000

#Data Checking

In [ ]:
df_clean

,accom_id,selling_price_idr,gbv_idr,coupon_idr,sales_date_utc7,check_in_date,check_out_date,accom_region,accom_star_rating,num_rooms,...,next_accom_id,next_accom_region,next_accom_star_rating,next_accom_type,next_selling_price,next_coupon_idr,next_is_use_coupon,next_gbv_idr,next_num_rooms,next_hotel_score
0,Uz+MOvMFoXZMCkmixPFGgpTm9lU=,5.249279e+05,5.705797e+05,0,2018-09-22,2018-09-22,2018-09-23,Jawa Barat,0,1,...,pmSgKDam2G81GGvziqaLZ1uu8uI=,Jawa Barat,3,HOTEL,6.198739e+05,0,NOT USE COUPON,581921.331156,1,7.395015
1,PMJIaKNhV02UjxNiev3Ltce2kNQ=,8.530683e+05,7.218379e+05,0,2018-09-22,2018-09-22,2018-09-23,Jawa Tengah,3,2,...,5GeTZvyDUlmdvqPtk82Cgja7UTM=,Jawa Tengah,4,HOTEL,5.758693e+05,0,NOT USE COUPON,498514.871909,1,8.904430
2,Y4UBm0bDkNkWK2JWpzmbJTlQLqc=,1.926132e+05,1.889571e+05,0,2018-09-22,2018-09-22,2018-09-23,Jakarta,2,1,...,FI1+e7bUFpzOX1jBaUNnyRpENYM=,Jakarta,2,HOTEL,2.179384e+05,0,NOT USE COUPON,315529.552358,1,7.909794
3,TxJe7ItZLbtw1K8Aqlem51jNvaE=,3.003773e+05,4.044809e+05,0,2018-09-22,2018-09-22,2018-09-23,Lampung Province,2,1,...,eGbvfr1SoxiZI4umM3lKK/YRGqQ=,Lampung Province,3,HOTEL,2.532418e+05,0,NOT USE COUPON,475037.469297,1,8.541579
4,kneU7W4rjhdyr4nKoVOP17bfaVk=,2.257385e+05,2.310196e+05,0,2018-09-22,2018-09-23,2018-09-24,Aceh,1,1,...,TQAbN/D9xL2fSELvW0UnubNuuy4=,Aceh,1,HOTEL,3.027667e+05,0,NOT USE COUPON,293149.517235,1,7.046263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18965,+1MQ9tdCFkoWJIMgIrMYmMDkiK8=,2.527474e+05,2.227864e+05,0,2018-12-10,2018-12-11,2018-12-12,Jawa Timur,2,1,...,qdnFPc1h/femzNuyiOERDAT3eNw=,Jawa Timur,3,HOTEL,3.266155e+05,0,NOT USE COUPON,258424.405057,1,8.411149
18966,Uvn0XPSPQ4pBsDOaLOAgBuOUYFc=,1.074395e+06,1.071035e+06,0,2018-12-10,2018-12-10,2018-12-11,Jawa Barat,4,1,...,dU8JmZhUw59kPNnNKrC1OtMIUFs=,Jawa Barat,4,HOTEL,8.707199e+05,0,NOT USE COUPON,613852.982257,1,8.622112
18967,dhHtr5ULFkp7fWIjqcI7X/HO8So=,2.119371e+05,1.597081e+05,0,2018-12-10,2018-12-10,2018-12-11,Kepulauan Riau,1,1,...,0yOuAnmYUxpwyDuHKlgGuFMa0Qk=,Kepulauan Riau,3,HOTEL,4.097967e+05,0,NOT USE COUPON,489389.224267,1,8.335431
18968,3C1ICmFZvDK7lp1efS+w36un+9g=,1.052873e+06,8.006005e+05,0,2018-12-10,2018-12-10,2018-12-11,Bali,4,1,...,OoIilhp++JHv3Ry0XDXTGpfbfSE=,Bali,0,GUESTHOUSE,1.157299e+05,0,NOT USE COUPON,164178.017094,1,8.501856
18969,pydCz6VK8cRxLYntrKVpTDg0dSQ=,1.026518e+06,1.045873e+06,0,2018-12-10,2018-12-12,2018-12-13,Selangor,3,2,...,M1kTuyOmfkLfcZOTAQsRb+c9utw=,Selangor,4,HOTEL,1.122555e+06,0,NOT USE COUPON,791210.781731,1,9.009163